html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling on the entire page */
    font-family: 'Minerva Modern', sans-serif;
    justify-content: center;
    align-items: center;
  }